# Server Configuration
PORT=3000

# OpenAI Configuration
OPENAI_API_KEY=your_key

# Logging

# File Upload
MAX_FILE_SIZE=10485760  # 10MB in bytes 

#UI Origin
FRONTEND_ORIGIN=http://localhost:5173

#MCP Server Path
FDA_MCP_SERVER_PATH =your_path
FDA_API_KEY=your_key
FDA_LOG_PATH=your_override_log_path

SESSION_SECRET=your_secret
REDIS_URL=redis://localhost:6379

CERT_PATH=
KEY_PATH=